
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fff3b6;
    overflow: hidden;
}

.game-container {
    display: grid;
    grid-template-areas:
        "profile title timer"
        "content content timer"
        "content content found"
        "footer footer footer";
    grid-template-columns: 0.7fr 9fr 1fr;
    grid-template-rows: 0.5fr 4fr 0.5fr 0.5fr;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#found:hover:hover {
    background-color: #ff6699;

}

.game-container>div.timer {
    grid-area: timer;
    display: flex;
   

}

#hourglass-img {
    width: 8rem;
    max-width: 20rem;
    height: auto;
    position: absolute;
    top: 5%;
    animation: rotate 3s linear 10;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.game-container>div.footer {
    grid-area: footer;
    display: flex;
    justify-content: left;
    align-items: center;
}

#end-play-game {
    padding: 10px 10px;
    font-size: 1.3rem;
    background: black;
    color: rgb(22, 228, 255);
    border-radius: 120px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
}

#end-play-game:hover {
    background: #555;
}

img {
    width: 48%;
    height: auto;
}

.game-container>div.title {
    grid-area: title;
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: black;
    font-size: 2rem;
}

.game-container>div.content {
    grid-area: content;
}

#timer {
    position: absolute;
    top: 35%;
    background-color: black;
    color: rgb(22, 228, 255);
    padding: 2% 2%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    width: 30%;
    max-width: 150px;
    text-align: center;
}

.timer {
    grid-area: timer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#user-profile {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#space1,
#space2,
#dinosaur1,
#dinosaur2,
#animals1,
#animals2,
#school_bus1,
#school_bus2,
#cat1,
#cat2 {
    border: 4px solid black;
}

.timeup,
.youwin {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    z-index: 1000;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#emoji,
#cheer {
    width: 20%;
    height: 40%;
    margin-bottom: 10px;
    animation: swing 1s ease-in-out infinite;
}

h2 {
    font-size: 2rem;
    color: black;
    margin-top: 10px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1.2rem;
    background-color: black;
    color: rgb(22, 228, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    transition: background 0.3s;
}

button:hover {
    background-color: #333;
}

@keyframes swing {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

#found {
    background-color: #22ffff;
    color: #fff;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* צל קל */
    margin-top: 10px;
    border-radius: 50%;
    /* צורת עיגול */
    display: flex;
}

#found-container {
    grid-area: found;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

#found-container p {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    /* צבע טקסט כהה */
    margin-bottom: 6px;
    font-weight: bold;
}

#user-profile {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #000000;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#result {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(22, 228, 255);
}

.profile {
    display: none;
    background-color: #fff9e6;
    color: #000000;
    text-align: center;
    position: absolute;
    z-index: 1000;
    top: 80px; /* מתחת ל-#user-profile */
    left: 20px;
    width: 150px; /* יותר צר */
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 1s ease-in-out; /* אנימציה */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.profile button {
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    background-color: #0c0c0c; /* אפור */
    color: #40e0d0; /* טורקיז */
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Arial Black', Gadget, sans-serif; /* כתב בולט ומעניין */
}

.profile button:hover {
    background-color: #40e0d0;
    color: #030303;
    font-weight: bold;
    transform: scale(1.1);
}

.scoreDiv {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(45deg, #ffcc33, #ff6699, #33ccff, #66ff66);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    animation: fadeIn 2s ease;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.scoreDiv #userPoints {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #333;
    transition: color 0.3s ease;
}

.scoreDiv #userPoints:hover {
    color: #ffcc33;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.scoreDiv button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.scoreDiv button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.scoreDivProfile {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(45deg, #ffcc33, #ff6699, #33ccff, #66ff66);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    animation: fadeIn 2s ease
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.scoreDivProfile #userPointsProfile {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #333;
    transition: color 0.3s ease;
}

.scoreDivProfile #userPointsProfile:hover {
    color: #ffcc33;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.scoreDivProfile button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.scoreDivProfile button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}