body {
    background-image: url(image/webbeingbuilt.jpg);
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    margin: 0;
}

button {
    bottom: 3%;
    left: 3%;
    position: fixed;
    background-color: black;
    height: 10%;
    width: 10%;
    border-radius: 30px;
    border: none;
}

button,
p {
    color: aliceblue;

}
